/* font-family: 'Catamaran', sans-serif; */
:root {
	--primary-text-color: #163561;
	--secondary-text-color: #153461;
	--primary-white-color: #ffffff;
	--title-color: #fbb400;
	--accent-color: #99baed;
	--secondary-bg-color: #e5ecfe;
}

body {
	font-family: "Catamaran", sans-serif;
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
}
button {
	cursor: pointer;
	font-family: inherit;
}

.container {
	width: 1920px;
	margin: 0 auto;

	outline: 1px solid tomato;
}

/* ======================header==================== */
.nav-list,
.btn-box,
.header {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 110px;
	margin-left: 170px;
}
.nav-list .nav-item {
	padding: 64px 14px 8px;

	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 1.32;
}
.nav-list .nav-item:not(:last-child) {
	margin-right: 20px;
}
.nav-item:hover {
	color: var(--primary-white-color);
	background-color: #a3c1ef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btn-userpic {
	border: none;
	background-color: transparent;
}
.btn-all {
	margin-right: 210px;
	padding: 23px 32px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.03em;

	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border-radius: 20px;
	border: none;
}
.btn-box .btn-item:not(:last-child) {
	margin-right: 72px;
}

.container-btn {
	margin-left: auto;
}

.btn-all:hover,
.btn-all:focus {
	/* padding: 26px 35px; */
	box-shadow: 0 10px 30px var(--accent-color);
	transition: all 0.2s ease-out;
}
/* =============================header and======================== */

/* ===========================section====================== */

/* ---------------------------------- Hero ---------------------------------- */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section.hero {
	padding: 32px 0 68px;
}
.item-set .item:not(:last-child) {
	padding-bottom: 226px;
}

.item-set .item {
	display: flex;
}

.item-set .item:nth-child(-n + 1) {
	flex-direction: row-reverse;
}
.item-set .item:nth-child(-n + 1) .content {
	margin-right: 24px;
}

.item-set .item:nth-child(2n) .content {
	margin-left: 149px;
}
.item-set .section-title.top-title {
	width: 576px;
	height: 300px;
	margin-bottom: 29px;

	font-weight: 700;
	font-size: 75px;
	line-height: 1.333;
}

.section-title span,
.headline span {
	color: var(--title-color);
}

.section-title.headline,
.headline-gallery {
	font-weight: bold;
	font-size: 70px;
	line-height: 1.506;
	letter-spacing: 0.03em;
}

/* -------------------------------- Hero and -------------------------------- */

/* --------------------------------- Услуги --------------------------------- */

.section.services {
	padding: 68px 0 136px;
}
.section-title.headline {
	width: 389px;
	height: 164px;
	margin: 0 auto 83px;
	text-align: center;
}

.aside-container {
	display: flex;
	justify-content: center;
}

.aside-container li {
	width: 441px;
	height: 533px;

	background: #fafbff;
	box-shadow: 0px 5px 0px #99baed;
	border-radius: 29px;
}

.aside-container li:not(:last-child) {
	margin-right: 47px;
}

.img-box {
	margin: 50px 169px 0;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 103px;
	height: 126px;

	background-color: #e5ecfe;
	box-shadow: 0px 1px 0px #008fdd;
	border-radius: 13px;
}
.aside-content-box {
	padding: 60px 41px;
}
.aside-content-box h3 {
	margin-bottom: 60px;
	font-weight: bold;
	font-size: 45px;
	line-height: 1.166;

	text-align: center;
	letter-spacing: 0.03em;
}

.aside-container .card:hover {
	background: var(--accent-color);
	color: var(--primary-white-color);
	border-radius: 29px;
	box-shadow: 0 10px 30px var(--accent-color);
	transition: all 0.5s ease-out;
}
.card:hover .text {
	color: var(--primary-white-color);
	transition: all 0.5s ease-out;
}

/* ------------------------------- Услуги and ------------------------------- */

/* --------------------------------- Галерея -------------------------------- */
.headline-gallery {
	margin-bottom: 110px;
}

.text {
	font-size: 25px;
	line-height: 1.52;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.desc-set li:not(:last-child) {
	margin-bottom: 48px;
}
.desc-set li:not(:first-child) {
	margin-bottom: 108px;
}

.item-set .text {
	width: 526px;
}

.item-set .quote {
	margin-bottom: 97px;
}

.item-set .btn-all {
	padding: 23px 41px 22px;
}

.galleri-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * 37px);
	margin-top: calc(-1 * 37px);
}

.galleri-list li {
	margin-left: 37px;
	margin-top: 37px;
	flex-basis: calc(100% * 111px / 3 - 37px);
}
